{{> head }}
{{> navbar }}
<div class="row">
    <div class="col">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea unde libero quisquam earum a, hic, corporis alias
            voluptas eligendi et deleniti? Doloremque inventore explicabo, aut veritatis iure laborum ipsum ex.</p>
    </div>
    <div class="col">
        <img src="assets/img/thumbnail.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}